@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Anek+Bangla:wght@300&family=Mukta:wght@500&family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Ysabeau+Infant:ital@1&family=Ysabeau+Office:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Anek+Bangla:wght@300&family=Mukta:wght@500&family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Ysabeau+Infant:ital@1&family=Ysabeau+Office:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.decore {
    position: absolute;
    right: 0px;
    z-index: -1;
}

.logo {
    padding: 15px;
    height: 60px;

}

header {
    /* background: aqua; */
    height: 60px;
}

header ul {
    list-style: none;
    float: right;
    font-size: 0;
}

header ul li {
    vertical-align: top;
    display: inline-block;
    /* background: red; */
}

header ul li a {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    /* padding: 0 15px; */
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    color: #000;
    top: 13px;
}

.container{
    font-size: 0;
    margin: auto;
    width: 90%;
}

.signup {
    border: 1px solid #000;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

.vector-down{
    vertical-align: middle;
}

.language:hover .vector-down{
    transform: rotate(180deg);
    transition: 0.5s;
}

nav{
    background: #fff;
    width: 120px;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.078);
}

.smena-language:hover nav{
    opacity: 1;
    pointer-events: auto;
}

.lang{
    /* border: 1px solid #000; */
    text-align: center;
    padding: 15px;
    font-size: 16px;
    width: 120px;
    opacity: 1;
}

.lang:hover{
    background: #000;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.traveller {
    position: absolute;
    bottom: 30px;
    right: 160px;
}

.global-info h2,
.information-four h1,
.global-info img,
.information-five p,
.information-five h1,
.cta,
.global-info p {
    margin-left: 120px;

}

.information-four{
    text-align: center;
}

.global-info h2 {
    font-family: 'Borel', cursive;
    width: 40%;
    margin-top: 120px;
    color: #DF6951;
    font-weight: 700;

}

.global-info img {
    margin-top: 25px;
}

.global-info p {
    font-weight: 500;
    margin-top: 30px;
    color: #5E6282;
}

.cta {
    margin-top: 30px;
    display: inline-block;
}

.cta-link {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background: #F1A501;
    border-radius: 10px;
}

.cta img {
    width: 50px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.play-demo {
    text-decoration: none;
    margin-left: 15px;
    color: #686D77;
    padding-top: 15px;
}

.information-two {
    margin-top: 90px;
    text-align: center;
}

.decore-group {
    position: absolute;
    right: 0;
}

.information-two {
    margin-bottom: 30px;
}

.information-two h2 {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #5E6282;
}

.card h3 {
    color: #14183E;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    /* background: red; */
    text-align: center;
}

.information-three {
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;

}

.information-three h3 {
    color: #5E6282;
}

.information-three h1 {
    color: #14183E;
}

.info-three-card {
    display: inline-block;
    background: #fff;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0px 0px 24px 24px;

}

.imgBx img {
    border-radius: 15px 15px 0px 0px;
}

.content {
    margin-bottom: 40px;

}

.gorod {
    float: left;
    margin: 5px;
    margin-left: 20px;
}

.sell {
    float: right;
    margin: 5px;
    margin-right: 20px;
}

.days {
    float: left;
    margin-left: 20px;
}

.days img {
    margin-bottom: -5px;

}

.decore-card {
    margin-left: -50px;
}

.information-four {
    margin-top: 60px;
    margin-bottom: 60px;
}

.easy-text {
    margin-bottom: 10px;
}

.cards {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: 500px;
}

.cards h1 {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    left: 0;
    color: #5E6282;
}

.cards p {
    color: #5E6282;
    font-family: 'Ysabeau Office', sans-serif;
    padding-top: 40px;
}

.cards .content {
    display: inline-block;
    vertical-align: middle;
    padding-top: 40px;
}

.cards img {
    display: inline-block;
    vertical-align: middle;

}

.cards .content h1 {
    float: left;
}

.information-five {
    /* background: aqua; */
    height: 600px;
}

.information-five p {
    color: #5E6282;
    margin-bottom: 30px;
}

.card-info {
    vertical-align: middle;
    text-align: left;
    position: relative;
    display: inline-block;
    width: 370px;
    padding: 25px;
    font-size: 0;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}

.nav{
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card-info h2 {
    margin-top: 20px;
    font-size: 18px;
    /* margin-left: 40px; */
}

.info-card-jule {
    font-size: 16px;
    /* margin-left: 40px; */
    margin-top: 10px;
    color: #84829A;
}

.builder {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    width: calc(100% - 20px);
}

.building {
    vertical-align: middle;
}

.heart {
    vertical-align: middle;
}

.mini-card {
    position: absolute;
    width: 260px;
    bottom: 60px;
    right: -80px;
    transform: translateY(100%);
    padding: 25px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.5s;
}

.card-info:hover .mini-card{
    transform: translateY(0%);
    opacity: 1;
}

.mini-card h3 {
    font-size: 14px;
}

.moscow{
    vertical-align: top;
}

.ongoin {
    font-size: 12px;
}

.completed {
    font-size: 14px;
}

.poloska{
    margin-top: 5px;
    width: 100%;
}
.mini-card-info{
    vertical-align: top;
    padding-left: 20px;
    height: 60px;
    display: inline-block;
    width: calc(100% - 50px);
}