@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Anek+Bangla:wght@300&family=Mukta:wght@500&family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Ysabeau+Infant:ital@1&family=Ysabeau+Office:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Anek+Bangla:wght@300&family=Mukta:wght@500&family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Ysabeau+Infant:ital@1&family=Ysabeau+Office:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.decore {
    position: absolute;
    right: 0px;
    z-index: -1;
}

.logo {
    padding: 15px;
    height: 60px;

}

header {
    /* background: aqua; */
    height: 60px;
}

header ul {
    list-style: none;
    float: right;
    font-size: 0;
}

header ul li {
    vertical-align: top;
    display: inline-block;
    /* background: red; */
}

header ul li a {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    /* padding: 0 15px; */
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    color: #000;
    top: 13px;
}

.container {
    font-size: 0;
    margin: auto;
    width: 90%;
}

.signup {
    border: 1px solid #000;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

.vector-down {
    vertical-align: middle;
}

.language:hover .vector-down {
    transform: rotate(180deg);
    transition: 0.5s;
}

nav {
    background: #fff;
    width: 120px;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.078);
}

.smena-language:hover nav {
    opacity: 1;
    pointer-events: auto;
}

.lang {
    /* border: 1px solid #000; */
    text-align: center;
    padding: 15px;
    font-size: 16px;
    width: 120px;
    opacity: 1;
}

.lang:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.traveller {
    position: absolute;
    bottom: 30px;
    right: 160px;
}

.global-info h2,
.information-four h1,
.global-info img,
.cta,
.global-info p {
    margin-left: 120px;

}

.videoModal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0000005a;
    z-index: 488152;
    opacity: 0;
    transition: 0.7s;
    pointer-events: none;
}

#playVideoYoutube{
    position: absolute;
    border-radius: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.432);
}

.information-four {
    text-align: center;
}

.global-info h2 {
    font-family: 'Borel', cursive;
    width: 40%;
    margin-top: 120px;
    color: #DF6951;
    font-weight: 700;

}

.global-info img {
    margin-top: 25px;
}

.global-info p {
    font-weight: 500;
    margin-top: 30px;
    color: #5E6282;
}

.cta {
    margin-top: 30px;
    display: inline-block;
}

.cta-link {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background: #F1A501;
    border-radius: 10px;
}

.cta img {
    width: 50px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.play-demo {
    text-decoration: none;
    margin-left: 15px;
    color: #686D77;
    padding-top: 15px;
}

.information-two {
    margin-top: 90px;
    text-align: center;
}

.decore-group {
    position: absolute;
    right: 0;
}

.information-two {
    margin-bottom: 30px;
}

.information-two h2 {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #5E6282;
}

.card h3 {
    color: #14183E;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    /* background: red; */
    text-align: center;
}

.information-three {
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;

}

.information-three h3 {
    color: #5E6282;
}

.information-three h1 {
    color: #14183E;
}

.info-three-card {
    display: inline-block;
    background: #fff;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0px 0px 24px 24px;

}

.imgBx img {
    border-radius: 15px 15px 0px 0px;
}

.content {
    margin-bottom: 40px;

}

.gorod {
    float: left;
    margin: 5px;
    margin-left: 20px;
}

.sell {
    float: right;
    margin: 5px;
    margin-right: 20px;
}

.days {
    float: left;
    margin-left: 20px;
}

.days img {
    margin-bottom: -5px;

}

.decore-card {
    margin-left: -50px;
}

.information-four {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    font-size: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

.easy-text {
    margin-bottom: 10px;
}

.cards {

    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: calc(100% - 370px);
}

.cards h1 {
    font-size: 32px;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    left: 0;
    color: #5E6282;
}

.cards p {
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: #5E6282;
    font-family: 'Ysabeau Office', sans-serif;
}

.cards .content {
    padding-left: 10px;
    width: calc(100% - 48px);
    display: inline-block;
    vertical-align: middle;
    padding-top: 40px;
}

.cards img {
    display: inline-block;
    vertical-align: middle;

}

.card-info {
    vertical-align: middle;
    text-align: left;
    position: relative;
    display: inline-block;
    width: 370px;
    padding: 25px;
    font-size: 0;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}

.card-info::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(54, 215, 255, 0.548);
    position: absolute;
    z-index: -564;
    border-radius: 5000px;
    filter: blur(40px);
    top: -60px;
    right: -60px;
}

.nav {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card-info h2 {
    margin-top: 20px;
    font-size: 18px;
    /* margin-left: 40px; */
}

.info-card-jule {
    font-size: 16px;
    /* margin-left: 40px; */
    margin-top: 10px;
    color: #84829A;
}

.builder {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    width: calc(100% - 20px);
}

.building {
    vertical-align: middle;
}

.heart {
    vertical-align: middle;
}

.mini-card {
    position: absolute;
    width: 260px;
    bottom: 60px;
    right: -80px;
    transform: translateY(100%);
    padding: 25px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.5s;
}

.card-info:hover .mini-card {
    transform: translateY(0%);
    opacity: 1;
}

.mini-card h3 {
    font-size: 14px;
}

.moscow {
    vertical-align: top;
}

.ongoin {
    font-size: 12px;
}

.completed {
    font-size: 14px;
}

.poloska {
    margin-top: 5px;
    width: 100%;
}

.mini-card-info {
    vertical-align: top;
    padding-left: 20px;
    height: 60px;
    display: inline-block;
    width: calc(100% - 50px);
}

.buttons {
    position: relative;
    width: 14px;
    height: 72px;
}

.information-five{
    width: 80%;
    margin: auto;
    max-width: 1000px;
}

.info-five-left {
    width: 40%;
    /* background: orange; */
    float: left;
}

.info-five-left p {
    color: #5E6282;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Ysabeau Office', sans-serif;
}

.info-five-left h1 {
    font-weight: 700;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;    
    color: #14183E;
}

.info-five-left span {
    display: inline-block;
    width: 12px;
    margin-top: 120px;
    margin-right: 20px;
    height: 12px;
    border-radius: 5000px;
    background: #E5E5E5;
}

.info-five-left .activeComment {
    background: #39425D;
}

.info-five-right {
    position: relative;
    width: 60%;
    /* background: #DF6951; */
    height: 300px;
    float: right;
}

.slide {
    position: absolute;
    padding: 30px;    
    width: calc(100% - 158px);
    top: 50%;
    left: 34px;
    transform: translate(0%, -50%);
    background: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

#slideOne{
    z-index: 50;
    box-shadow: 0 10px 50px #00000044;
}

#slideTwo{
    transform: translate(40px, calc(-30% + 40px));
    border: 2px solid #F0F0F0;

}

.imgChelovek {
    object-fit: cover;
    width: 68px;
    height: 68px;
    position: absolute;
    top: -34px;
    left: -34px;
    border-radius: 5000px;

}

.slide .content h2 {
    color: #5E6282;
    font-weight: 600;
    padding-left: 60px;
    font-size: 18px;
    margin-bottom: 10px;
}

.slideTwo {
    width: 60%;
    margin-left: 90px;
    background: #fff;
    border-radius: 10px;
}

.slideTwo .content {
    width: 400px;
    margin-top: -30px;
    /* background: #5E6282; */
}

.descript {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #5E6282;

}

.slideTwo .content h2 {
    color: #5E6282;
    font-weight: 600;
    font-size: 18px;
}

.city {
    color: #5E6282;
    font-weight: 500;
    font-size: 14px;
}

.buttons{
    position: absolute;
    right: 0;
    width: 34px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: aqua; */
}

.buttons svg{
    /* background-color: orchid; */
    width: 100%;
    height: 40px;
    padding: 0 6px;
}

.buttons .strelkaUp{
    transform: rotate(180deg);
    vertical-align: center;
    
}

.informationSix{
    text-align: center;
}
.informationSix img{
    margin-top: 60px;
}

.informationSeven{
    margin-top: 30px;
    margin-bottom: 30px;
}

.emailContainer{
    position: relative;
    width: 80%;
    margin: auto;
    background: #DFD7F966;
    border-radius: 30px;
    padding: 60px 0;
}

.telegram{
    position: absolute;
    right: -30px;
    top: -30px;
    z-index: 998445;
}

.grugi1 {
    position: absolute;
    width: 30%;
    opacity: 0.1;
    bottom: 0;
    left: 20px;
}

.grugi2 {
    position: absolute;
    right: 0;
    top: 0px;
    width: 15%;
    opacity: 0.1;
}

.sevenInfo {
    color: #5E6282;
}

.otzovik {
    position: relative;
    text-align: center;
    z-index: 152;
}

.otzovik button{
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #DF6951;
    border: none;
    box-shadow: 5px 5px 10px #DF6951;
    margin-left: 20px;
}

.emailContainer input{
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    margin-top: 30px;
    border: none;
}

.sevenDecore{
    position: absolute;
    right: -120px;
    transform: scaleX(-100%);
    z-index: -14;
}

.informationContacts{
    text-align: center;
    width: 80%;
    margin: auto;
    /* background: aqua; */
}

.posts{
    transform: translateY(50%);
    text-align: left;
}

.post1{
    display: inline-block;
    font-size: 16px;
    /* background: gray; */
}
.post1 h1{
    margin-bottom: 15px;
}

.informationContacts{
    font-size: 0;
}

.informationContacts div{
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.post2{
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    /* margin-left: 15px;
    margin-right: 15px; */
    /* background: #159632; */
}

.post2 h1{
    padding-bottom: 15px;
}

.post2 a{
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    color: #5E6282;
}
.links{
    position: absolute;
    display: inline-block;
    transform: rotate(-45deg);
}

.links p{
    color: #5E6282;
    text-align: left;
    margin-bottom: 15px;
}